<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PEsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/jsp/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/jsp/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/jsp/ErrorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>MajorController</display-name>
    <servlet-name>MajorController</servlet-name>
    <servlet-class>com.pesystem.controller.MajorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajorController</servlet-name>
    <url-pattern>/Major.do</url-pattern>
    <url-pattern>/MajorController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharactorEncoding</display-name>
    <filter-name>CharactorEncoding</filter-name>
    <filter-class>com.yyh.Filter.CharactorEncoding</filter-class>
    <init-param>
      <param-name>qwe</param-name>
      <param-value>123</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharactorEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.pesystem.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
    <url-pattern>/Student.do</url-pattern>
    <url-pattern>/StuInfor.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordController</display-name>
    <servlet-name>RecordController</servlet-name>
    <servlet-class>com.pesystem.controller.RecordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordController</servlet-name>
    <url-pattern>/RecordController</url-pattern>
    <url-pattern>/Record.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassController</display-name>
    <servlet-name>ClassController</servlet-name>
    <servlet-class>com.pesystem.controller.ClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassController</servlet-name>
    <url-pattern>/ClassController</url-pattern>
    <url-pattern>/Class.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PEClassController</display-name>
    <servlet-name>PEClassController</servlet-name>
    <servlet-class>com.pesystem.controller.PEClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PEClassController</servlet-name>
    <url-pattern>/PEClass.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AccountCheck</display-name>
    <filter-name>AccountCheck</filter-name>
    <filter-class>com.yyh.Filter.AccountCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccountCheck</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.pesystem.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.pesystem.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
    <url-pattern>/Admin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyController</display-name>
    <servlet-name>FacultyController</servlet-name>
    <servlet-class>com.pesystem.controller.FacultyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyController</servlet-name>
    <url-pattern>/FacultyController</url-pattern>
    <url-pattern>/Faculty.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherController</display-name>
    <servlet-name>TeacherController</servlet-name>
    <servlet-class>com.pesystem.controller.TeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherController</servlet-name>
    <url-pattern>/TeacherController</url-pattern>
    <url-pattern>/Teacher.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TesterController</display-name>
    <servlet-name>TesterController</servlet-name>
    <servlet-class>com.pesystem.controller.TesterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TesterController</servlet-name>
    <url-pattern>/TesterController</url-pattern>
    <url-pattern>/Tester.do</url-pattern>
  </servlet-mapping>
</web-app>